$newbie-color: #14c2c8;
$junior-color: #aad742;
$intermediate-color: #f1b604;
$advanced-color: #f48925;
$guru-color: #eb5252;
$black: #191919;
$white: #f5f5f5;
$gray: #cccccc;
$light-gray: #929292;

$font-stack: 'Titan One', 'Segoe UI', sans-serif;