@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-stack;
  background: url(../bg-tile.gif) repeat center;
}

a {
  text-decoration: none;
}

.main {
  max-width: 1080px;
  min-width: 350px;
  margin: 1rem auto;
}

.header {
  margin-bottom: 2rem;
  padding: 1rem;
  
  .title, a {
    color: $black;
    text-align: center;
  }
}

nav {
  display: flex;
  width: 100%;
  height: 2.5rem;
  margin-bottom: 3rem;
  justify-content: space-around;
  align-items: center;
  background-color: $black;

  a {
    display: block;
    color: $white;
    font-size: 1.1rem;
    transition: font-size 200ms linear;

    &:hover {
      font-size: 1.2rem;
    }
  }
}

.grid {
  display: grid;
  width: inherit;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  align-items: center;
  justify-items: center;
  padding: 1.5rem 2rem;
  background-color: $gray;

  .card {
    display: block;
    width: 300px;
    overflow: hidden;

    * {
      display: block;
      width: inherit;
    }

    .card-img {
      transition: transform 150ms linear;
      &:hover {
        transform: scale(1.2);
      }
    }

    .card-title {
      position: relative;
      padding: .5rem;
      height: 4.5rem;
      font-size: 1rem;
      text-align: center;
      letter-spacing: .1rem;
      color: $black;
      background-color: $light-gray;
      em {
        font-family: 'Segoe UI', sans-serif;
      }
    }
  }
}

.categories {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  
  .category-wrapper {
    position: relative;
    padding: .2rem;
    width: 150px;
    height: 30px;
    text-align: center;
    background-color: $light-gray;
    overflow: hidden;
  }
}

input[type="radio"] {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;

  &:checked + div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $gray;
  }
  &:checked + div .tag {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 5px;
    border-radius: 10px;

    &.n {
      background-color: $newbie-color;
    }
    &.j {
      background-color: $junior-color;
    }
    &.i {
      background-color: $intermediate-color;
    }
    &.a {
      background-color: $advanced-color;
    }
    &.g {
      background-color: $guru-color;
    }
  }
}

.newbie::before {
  content: "Newbie";
  color: $newbie-color;
  text-shadow: 1px 1px 1px $black;
}
.junior::before {
  content: "Junior";
  color: $junior-color;
  text-shadow: 1px 1px 1px $black;
}
.intermediate::before {
  content: "Intermediate";
  color: $intermediate-color;
  text-shadow: 1px 1px 1px $black;
}
.advanced::before {
  content: "Advanced";
  color: $advanced-color;
  text-shadow: 1px 1px 1px $black;
}
.guru::before {
  content: "Guru";
  color: $guru-color;
  text-shadow: 1px 1px 1px $black;
}

footer {
  position: relative;
  margin-top: 1rem;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  background: linear-gradient(110deg, $black 45%, gold 50%, $black 55%);
  background-size: 200% 150%;
  background-position: -200%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 2.1s ease;
  &:hover {
    transform: scale(1.1);
    background-position: 0% 0;
  }
}

@import "media";