:root {
  --orange: hsl(25, 97%, 53%);
  --white: hsl(0, 100%, 100%);
  --grey-light: hsl(217, 12%, 63%);
  --grey-strong: hsl(213, 19%, 18%);
  --grey-stronger: hsl(216, 12%, 8%);
  --grey-soft: #28313b;
  --main-ball: 40px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: var(--grey-stronger);
}

h1 {
    margin-bottom: 10px;
    color: var(--white);
}

p {
    font-size: 15px;
    color: var(--grey-light);
    margin-bottom: 1rem;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

section {
    margin: auto;
    padding: 2rem;
    width: 30vw;
    height: 60vh;
    border-radius: 30px;
    box-shadow: rgba(0,0,0,.1) 3px 3px 10px;
    background: linear-gradient(to right bottom, var(--grey-strong), rgba(111,111,111,.1));
}

img { display: block }

.star {
    position: relative;
    background-color: var(--grey-soft);
    width: var(--main-ball);
    height: var(--main-ball);
    border-radius: 50%;
    margin-bottom: 1.5rem;
}.star img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.ratings {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}.ratings label {
    position: relative;
    width: var(--main-ball);
    height: var(--main-ball);
    text-align: center;
    background-color: var(--grey-soft);
    border-radius: 50%;
    overflow: hidden;
}.ratings label:hover {
    background-color: var(--white);
}.ratings label:hover .tag {
    color: var(--grey-stronger);
}

input[type="radio"] {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
  border: none;
}input[type="radio"]:hover + div {
  background-color: var(--white);
}input[type="radio"]:checked + div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--orange);
}input[type="radio"]:checked + div .tag {
    color: var(--grey-stronger);
}

.tag {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    color: var(--grey-light);
    cursor: pointer;
}.tag:hover {
    color: var(--grey-stronger);
}

button {
    padding: .9rem;
    width: 100%;
    border: none;
    border-radius: 30px;
    background-color: var(--orange);
    color: var(--grey-stronger);
    cursor: pointer;
}button:hover {
    background-color: var(--white);
}

#result {
    display: none;
}#result h1, p {
    text-align: center;
}

.final {
    color: var(--orange);
    margin: 0 auto;
    width: 80%;
    background-color: var(--grey-soft);
    border-radius: 20px;
    padding: .5rem;
    text-align: center;
    margin-bottom: 1rem;
}

.thanks {
    width: 60%;
    margin: 0 auto 1.5rem;
}

@media screen and (max-width: 900px) {
    section {
        width: 60vw;
    }
}

@media screen and (max-width: 500px) {
    section {
        width: 95vw;
    }
}

